div.oe_assignment_reminder_late{
  color: red;
  font-weight: bold;
}

div.oe_assignment_reminder_to_do{
  color: #008818;
  font-weight: bold;
}

div.oe_assignment_reminder_processed_today{
  color: orange;
  font-weight: bold;
}

div.oe_assignment_reminder_none{

}
