.iconed-field#oe_phone {
    background: url("/evtc_front/static/src/images/pictos/icon-phone.svg") 13px center no-repeat;
}
.iconed-field#newPhoneContact {
    background: url("/evtc_front/static/src/images/pictos/icon-phone.svg") 13px center no-repeat;
}
.iconed-field#oe_wevent_many {
    background: url("/evtc_front/static/src/images/pictos/icon-user.svg") 13px center no-repeat;
}
.iconed-field#newNameContact {
    background: url("/evtc_front/static/src/images/pictos/icon-user.svg") 13px center no-repeat;
}
